.root {
  background: url("./images/background.png");
  background-size: cover;
  min-height: 100vh;
}

.title {
  color: white;
  font-size: 60px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  text-shadow: 3px 3px 3px black;
}

.characters {
  margin: 30px auto 0;
  display: flex;
  max-width: 1050px;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.character {
  background: gray;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(103,103,103,1) 35%, rgba(88,100,102,1) 100%);
  display: flex;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  position: relative;

  &:before {
    position: absolute;
    border: 10px solid #00D900;
    color: #00D900;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    line-height: 1.5;
  }

  &.activeFirst {
    &:before {
      content: '1';
    }
  }

  &.activeSecond {
    &:before {
      content: '2';
      border-color: #FF1700;
      color: #FF1700;
      line-height: 3.5;
    }
  }
}

.characterAvatar {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.stances {
  position: absolute;
  left: -150px;
  bottom: -20px;
  display: flex;
  width: calc(100% + 300px);
  justify-content: space-between;
}

.stance {
  width: 200px;

  &.stanceSecond {
    transform: scale(-1, 1);
  }
}

.stanceImage {
  width: 100%;
}

.location {
  color: white;
  font-size: 40px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  text-shadow: 3px 3px 3px black;
}