.root {
  background: url("./images/background.png");
  background-size: cover;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.text {
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 5px 3px 3px black;
  text-transform: uppercase;
  margin-top: 60px;
  text-align: center;
}

.title {
  font-size: inherit;
}

.vs {
  display: block;
  margin-top: 100px;
}

.characters {
  position: absolute;
  left: 0;
  bottom: -20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.character {
  width: 600px;

  &.characterSecond {
    transform: scale(-1, 1);
  }
}

.characterImage {
  width: 100%;
}

.codes {
  position: absolute;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  bottom: 200px;
  margin: 0 auto;
  border: 3px solid #494949;
  border-radius: 5px;
}

.code {
  border: 3px solid #494949;
  display: flex;
}

.codeImage {
  width: 63px;
  height: auto;
  border-radius: 5px;
}

.message {
  position: absolute;
  bottom: 100px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 5px 3px 3px black;
}